---
- name: pull mysql image
  command: docker pull mysql:5.7.8
  when: build_mysql_container

- name: stop mysql container
  command: docker stop mathhacks-jira-db
  ignore_errors: yes
  when: build_mysql_container

- name: remove mysql container
  command: docker rm mathhacks-jira-db
  ignore_errors: yes
  when: build_mysql_container

- name: run mysql container
  command: >
    docker run \
      -d \
      --name=mathhacks-jira-db \
      -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} \
      -v /mnt/sda1/var/mysql_data:/var/lib/mysql \
      -p 3306:3306 \
      mysql:5.7.8
  when: build_mysql_container

# - name: drop jira database (if it already exists)
#   command: >
#     docker exec \
#       -d mathhacks-jira-db \
#       bash -lc "mysql -uroot -p{{ mysql_root_password }} -e \"drop database if exists jira\""
#   when: build_mysql_container

- name: create jira database (if it doesn't already exist)
  command: >
    docker exec \
      -d mathhacks-jira-db \
      bash -lc "mysql -uroot -p{{ mysql_root_password }} -e \"create database if not exists jira\""
  when: build_mysql_container
